h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 22em;
  height: 22em;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
  p {
    background-color: white;
    text-align: end;
    padding: .5em;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    margin: 0 auto;
    div {
      display: flex;
      column-gap: 1em;
      .btn-large {
        width: 5.84em;
      }
      input {
        width: 3em;
        height: 3em;
      }
    }
  }
}